@page "/DBEmployeeDappar"
@using projectScope.Data
@using projectScope.Validator
@inject HttpClient Http
@inject ISnackbar Snackbar
@using System.ComponentModel.DataAnnotations;
@using projectScope.Shared;
@layout EmployeesLayout


            <div class="container">
                <div class="Row   py-3 my-3" style="background-color:#8E24AA; color:aliceblue; position:fixed; width:71%">
                    <NavLink class="mx-3" style="color:aliceblue;" href="">home</NavLink>
                    <NavLink class="mx-3" style="color:aliceblue;" href="">home</NavLink>
                    <NavLink class="mx-3" style="color:aliceblue;" href="">home</NavLink>
                    <MudIcon Icon="@Icons.Material.Outlined.Search" @onclick="showSearch" Style="margin-left:70%"></MudIcon>

                </div>
                <br />
                <br />
                <br />
                <br />
                <div class="Row mt-3">
                    <div class="col-12">
                        <button class="btn btn-secondary" @onclick="Showpopup" style="margin-right:70%;">
                            <span class="oi oi-plus" aria-hidden="true"></span>Add New
                        </button>

                    </div>
                </div>

            </div>
            <br />
            <br />
            @if (popup)
            {
                <div class="modal" tabindex="-1" style="display:block;  margin:auto">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Records</h5>

                                <button type="button" @onclick="closepopup"><MudIcon Icon="@Icons.Material.Outlined.Close" /></button>
                            </div>
                            <div class="modal-body">
                                <EditForm Model="@objinsert" OnValidSubmit="@Insert">
                                    <FluentValidationValideator />

                                    <div class="Row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Name  </label><br />
                                                <InputText @bind-Value="@objinsert.EmpName" id="inputText" />
                                                <ValidationMessage For="@(() => objinsert.EmpName)" />
                                            </div>
                                            <div class="form-group">
                                                <label>Department  </label><br />
                                                <InputText @bind-Value="@objinsert.Department" id="inputText" />
                                                <ValidationMessage For="@(() => objinsert.Department)" />
                                            </div>
                                            <div class="form-group">
                                                <label>Salary  </label><br />
                                                <InputNumber @bind-Value="@objinsert.Salary" id="inputText" />
                                                <ValidationMessage For="@(() => objinsert.Salary)" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-4">
                                                <button class="btn btn-info" style="width:150px;">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </EditForm>



                            </div>
                        </div>
                    </div>
                </div>
            }
            else { popup = false; }
            <!---End Model Popup Add And Edit-->
            <!--Model Popup Delete-->
            @if (popupDelete)
            {
                <div class="modal mt-md-5" tabindex="-1" style="display:block;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Records</h5>
                                <button type="button" @onclick="closepopupDelete"><MudIcon Icon="@Icons.Material.Outlined.Close" /></button>
                            </div>
                            <EditForm Model="objinsert" OnValidSubmit="DeleteEmployee">
                                <div class="modal-body">
                                    <div class="Row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>EMP ID:</label>
                                                <label style="color:darkblue">@objinsert.EmpId</label>

                                            </div>
                                            <div class="form-group">
                                                <label>Name:</label>
                                                <label style="color:darkblue">@objinsert.EmpName</label>

                                            </div>
                                            <div class="form-group">
                                                <label>Department:</label>
                                                <label style="color:darkblue">@objinsert.Department</label>

                                            </div>
                                            <div class="form-group">
                                                <label>Salary:</label>
                                                <label style="color:darkblue">@objinsert.Salary</label>

                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button class=" btn btn-info" @onclick="closepopupDelete" style="width:160px;">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </EditForm>

                        </div>
                    </div>
                </div>
            }
            else { popupDelete = false; }

            <!--End model popup Delete-->
            <!--model popup Detils-->

            @if (popupDetils)
            {
                <div class="modal" tabindex="-1" style="display:block;  margin:auto">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="text-align:center;">Detils Records</h5>

                                <button type="button" @onclick="closepopupDitils"><MudIcon Icon="@Icons.Material.Outlined.Close" /></button>
                            </div>
                            <div class="modal-body">
                                <EditForm Model="objinsert">
                                    <div class="Row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for=" Name" class="control-label">Emp Id  </label>
                                                <input form="Name" readonly class="form-control" @bind="@objinsert.EmpId" />
                                            </div>
                                            <div class="form-group">
                                                <label for=" Name" class="control-label">Name  </label>
                                                <input form="Name" readonly class="form-control" @bind="@objinsert.EmpName" />
                                            </div>
                                            <div class="form-group">
                                                <label for=" Department" class="control-label">Department  </label>
                                                <input form="Department" readonly class="form-control" @bind="@objinsert.Department" />
                                            </div>
                                            <div class="form-group">
                                                <label for=" Salary" class="control-label">Salary  </label>
                                                <input form="Salary" readonly class="form-control" @bind="@objinsert.Salary" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>

                                </EditForm>
                                <div class="modal-footer">
                                    <button class=" btn btn-danger" @onclick="closepopupDitils" style="width:190px;">Cancel</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            }
            else { popupDetils = false; }
            <!--End model popup Detils-->


            @if (ObjEmp == null)
            {
                <p><em>Loding...</em></p>
            }
            else
            {

                <table class="table">
                    <thead class="thead-dark">

                        <tr style=" border-bottom-color: red;">
                            <th>Employee Id</th>
                            <th>Employee Name</th>

                            <th>Department</th>
                            <th>Salary</th>
                            <th class="text-center">Action</th>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in ObjEmp)
                        {
                            <tr>

                                <td class="td-emp">@item.EmpId</td>
                                <td class="td-emp">@item.EmpName</td>
                                <td class="td-emp">@item.Department</td>
                                <td class="td-emp">@item.Salary</td>
                                <td>

                                    <MudTd>
                                        <button class="nav-link" @onclick="(() => EditEmp(item))">
                                            <MudIcon Icon="@Icons.Material.Outlined.Edit" Style="color:blue;" />Edit
                                        </button>
                                    </MudTd>
                                    <MudTd>

                                        <button class="nav-link" @onclick="(() => DeleteEmp(item))">
                                            <MudIcon Icon="@Icons.Material.Outlined.Delete" Style="color:red;" />Delete
                                        </button>
                                    </MudTd>
                                    <MudTd>
                                        <button class="nav-link" @onclick="(() => DetilsEmp(item))">
                                            <MudIcon Icon="@Icons.Material.Outlined.Info" Style="color:darkslateblue;" />Detils
                                        </button>
                                    </MudTd>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
                <br />
                <button class="btn btn-secondary" @onclick="@(e => NavigateTo("Prev"))">Prev</button>
                <button class="btn btn-secondary" @onclick="@(e => NavigateTo("First"))">@("<<")</button>
                @for (int i = 0; i < TotalSize; i++)
                {
                    var pagenumper = i;
                    <button class="btn @(CurrentPage == pagenumper ? "btn-dark" : "btn-info")" @onclick="@(e => UpdateList(pagenumper))"> @(i + 1)</button>
                }
                <button class="btn btn-secondary" @onclick="@(e => NavigateTo("Next"))">Next</button>
                <button class="btn btn-secondary" @onclick="@(e => NavigateTo("Last"))">@(">>")</button>
            }

            @if (search)
            {
   
<div class="modal" style="display:block;  margin-left:77%; margin-top:9.7%; width:265px; color:aliceblue; background-color:#8E24AA; opacity:0.9;" id="mod-serch">

    <button type="button" @onclick="closeSearch"><MudIcon Icon="@Icons.Material.Outlined.Close" Style="margin-left:1900%" /></button>
    <br /><br /><br /><br /><br />
    <SearchComponent columnTitle="Employee Name" OnSearchTextChanged="@(e=>OnEmployeeinfoSearchTextChanged(e,"EmpName"))" />
    <SearchComponent columnTitle="Department" OnSearchTextChanged="@(e=>OnEmployeeinfoSearchTextChanged(e,"Department"))" />


</div>      
                            
            }

           










                        @code {
                            async Task PopulateEmps()
                            {

                                ObjEmp = (await Http.GetJsonAsync<List<Employeeinfo>>("http://localhost:56001/api/Employee")).Take(pageSize).ToList();

                                Emps = (await Http.GetJsonAsync<List<Employeeinfo>>("http://localhost:56001/api/Employee"));

                            }



                            bool search = false;
                            public void showSearch()
                            {
                                search = true;
                            }
                            void closeSearch() { search = false; }
                        }
