@page "/"


<div class="container">
    <div class="row ">
        <div class="col-lg-3  pl-3">

            <MudCard>
                <MudCardHeader>

                    <!--  <a href="C:\Users\ghada\source\repos\projectScope\projectScope\Pages\Index.razor">C:\Users\ghada\source\repos\projectScope\projectScope\Pages\Index.razor</a>-->
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <SVGClock />
                </MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.body1">Mecca</MudText>
                    <MudText Typo="Typo.body2">This time Now in Mecca</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                    <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                </MudCardActions>
            </MudCard>
        </div>
        <div class="col-lg-3  pl-3">
            <MudCard>
                <MudCardHeader>


                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <SVGClock />
                </MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.body1">London</MudText>
                    <MudText Typo="Typo.body2">This time Now in London</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                    <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                </MudCardActions>
            </MudCard>
        </div>
        <div class="col-lg-3  pl-3">
            <MudCard>
                <MudCardHeader>


                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <SVGClock />
                </MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.body1">Tokyo</MudText>
                    <MudText Typo="Typo.body2">This time Now in Tokyo</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                    <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                </MudCardActions>
            </MudCard>
        </div>
        <div class="col-lg-3  pl-3">
            <MudCard>
                <MudCardHeader>


                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <SVGClock />
                </MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.body1">NY</MudText>
                    <MudText Typo="Typo.body2">This time Now in NY</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                    <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                </MudCardActions>
            </MudCard>
        </div>
    </div>
</div>
